.camera {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    border-radius: 0.6rem;
    max-width: 25rem;
    height: 25rem;
}

.cameraBottom {
    display: inline-flex;
    text-align: center;
}

.cameraBottomItem {
    padding-left: 1rem;
}
