.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    justify-content: flex-start;
}

.container {
    margin-left: 2rem;
    margin-right: 2rem;
}

.link {
    margin-left: 1.4rem;
}

.link > a {
  color: #D9D9D9;
  text-decoration: none;
}

.link > a:hover {
  color: #FFFFFF;
}

.navbar-brand > a {
  color: #D9D9D9;
  text-decoration: none;
}

.navbar-brand > a:hover {
  color: #FFFFFF;
}
