.camera {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    border-radius: 0.6rem;
    width: 18rem;
    height: 25rem;
    transition:0.3s;
}

.camera:hover {
    padding-top: 1rem;
    transform: scale(1.03);
    cursor: pointer;
}


.status {
    padding-right: 0.3rem;
}

.disconnectedStatus {
    color: red;
}

.connectedStatus {
    color: green;
}

.rows {
    display: inline-flex;
}

.disabled {
    pointer-events: none;
    color: grey;
}

.button {
    background-color: #1D263B;
    border-color: #1D263B;
}

.button:hover {
    background-color: #1D263B;
    border-color: #1D263B;
    filter: brightness(140%);
}

.button:focus {
    background-color: initial;
    border-color: initial;
}

.button:active {
    background-color: initial;
    border-color: initial;
}
