.camera {
    padding: 2rem;
    text-align: center;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    border-radius: 0.6rem;
    width: 20rem;
    height: 25rem;
}

.cameraBottom {
    text-align: center;
}

.cameraBottomItem {
    padding-right: 1rem;
}

.status {
    padding-right: 0.3rem;
}

.disconnectedStatus {
    color: red;
}

.connectedStatus {
    color: green;
}

.rows {
    display: inline-flex;
}

.disabled {
    pointer-events: none;
    color: grey;
}
